*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-image: url(./images/tractor.jpeg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height:100vh;
   color:  white;    
   
   font-family:  "Roboto", sans-serif;
}

h1{
    margin-top: 20px;
    margin-bottom:10px;
}

p{
    margin-bottom: 15px;
}
#produceadd{
    width: 200px; 
    height:40Px;
    border-radius: 10px;
    border:0; 
    font-size: 20px;
    background-color: #FFEB3B;

}
#submit{
    width: 400px; 
    height:40Px;
    border-radius: 10px;
    border:0; 
    font-size: 20px;
    background-color: #FFEB3B;
}
#produce_form{
    display: flex;
    justify-content: center;
    align-items: center;
    width:30%;
    background-color: #6D4C41;
    margin: auto; 
 display: none; 
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
     text-align: center;
     position:relative;
    z-index:1000;  
   
}

#produce_form #description{
  
    padding: 10px;
}
#produce_form .close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    background: none;
    border: none;
    font-size: 40px;
    color: #FFEB3B;
    cursor: pointer;
}
#produce_form input{
height:30Px;
width: 400px;
border-radius: 5px;
border: 0;
padding:10px;
}

span{
    color: red;
    font-size: 12px;
    font-weight: 300;
   }

   #button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
   #logout, #market{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border:0; 
    font-size: 20px;
    font-weight: 600;
    background-color: #FFEB3B;  
    cursor: pointer;
    
    cursor: pointer;
   }
   /* Small screens (mobile) */
@media (max-width: 767px) {
    body {
        padding: 10px;
        height: auto;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }

    #produceadd {
        width: 40%;
        font-size: 14px;
    }

    #produce_form {
        width: 60%;
    }

    #produce_form input {
        font-size: 14px;
        width: 80%;
    }

    #submit {
        font-size: 18px;
        width: 80%;
    }

    .close-btn {
        font-size: 18px;
    }

  

    #logout, #market{
     font-size: 15px;
    }
}

/* Medium screens (tablets) */
@media (min-width: 768px) and (max-width: 1023px) {

    body{
        height: auto;
    }
    #produce_form {
        width: 60%;
    }
    #produce_form input{
        height:30Px;
        width: 80%;
        border-radius: 5px;
        border: 0;
        }
        
    #submit {
        font-size: 18px;
    }
}

/* Large screens (desktops) */
@media (min-width: 1024px) {

    body{
        height: auto;
    }
    #produce_form {
        width: 40%;
    }
#produce_form input{
    width: 80%;
}
    #submit {
        font-size: 20px;
    }
} 