body{    
   font-family:  "Roboto", sans-serif;
   background: url(./images/guava\ \(2\).jpeg) no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
}

#body_p{
    font-weight: 500;
    font-size: 20px;
}

#allproduce{
    display: flex;
     flex-wrap: wrap; 
    gap: 20px;
    color: black;    
  
}
#button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.produceitem{
    padding: 0px 30px;
    background-color: #FBC02D;
    padding: 15px;
    width: 20%;
    height: auto;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
}

.produceitem:hover {
    transform: scale(1.02);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.4);
}
.produceitem h3{
    text-transform: uppercase;
}
#logout, #dashboard, #home{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border:0; 
    font-size: 20px;
    font-weight: 600;
    background-color: #FBC02D;  
    cursor: pointer;
}
#menuToggle span{
    display: none;
 }
/* Small screens (max-width: 768px) */
@media (max-width: 768px) {
    #container {
        width: 100%;
        padding: 0 10px;
    }
    
    .allProduceDiv {
        flex-direction: column;
        align-items: center;     
    }

    .produceitem {
        width: 40%;
    }

    #body_p {
        font-size: 15px;
    }

    #logout, #dashboard, #home {
        width: 70px;
        font-size: 12px;
        padding: 0 ;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .produceitem h3{
        font-size: 15px;
    }
    body{
        height: auto;
    }
    #menuToggle{
       position: relative;
        z-index: 1;
        margin-top: -5px;
        top: 5px;
       left: 94%;
       color: black;   
      
      }
    #menuToggle span {
        display: block; 
        width: 50px;
        height: 6px;
        margin-bottom: 5px; 
        position: relative; 
        background-color: white;
        border-radius: 3px;
        z-index: 1; 
}
#button{
    position: absolute;
    display: none;
    flex-direction: column;
   left:-7%;
   gap: 0px;
  
}

#button.show {
    display: block;
    
   }

}
/* Medium screens (min-width: 769px) and (max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    #container {
        width: 100%;
    }

    .allProduceDiv {
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    .produceitem {
        width: 25%;
    }

    #body_p {
        font-size: 18px;
    }

    #logout, #dashboard, #home {
        width: 80px;
        font-size: 12px;
        padding: 0 ;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    #menuToggle{
        position: relative;
         z-index: 1;
         margin-top: -5px;
         top: 5px;
        left: 95%;
        color: black;  
        flex-direction: column; 
       }
    
     #menuToggle span {
         display: block; 
         width: 50px;
         height: 6px;
         margin-bottom: 5px; 
         position: relative; 
         background: white;
         border-radius: 3px;
         z-index: 1; 
 }
 #button{
     position: absolute;
     display: none;
     flex-direction: column;
    left:-5%;
    gap: 0px;
    
 }
 
 #button.show {
     display: block;
    }
}

/* Large screens (min-width: 1025px) */
@media (min-width: 1025px) {
    /* #container {
        width: 70%;
    } */

    /* .allProduceDiv {
        flex-wrap: wrap;
    } */

    /* .produceitem {
        width: 30%;
    } */

    #body_p {
        font-size: 20px;
    }

    #logout {
        width: 150px;
        font-size: 20px;
    }
}