body{    
   /* font-family:  "Roboto", sans-serif;
   background-color: #6D4C41;
   color: white; */
   background-image: url(./images/guava\ \(1\).jpeg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height:100vh;
   color:  white;    
   font-family:  "Roboto", sans-serif;
}



#body_p{
    font-weight: 500;
    font-size: 20px;
}

#container{
    width: 80%;
    margin: auto;
    
}
.allProduceDiv{
    display: flex;
    gap: 10px;
    justify-content: center;
    color: black;
  
}

#button{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.produceitem{
    padding: 0px 30px;
    background-color: #FFEB3B;
    width: 300px;
    height: auto;
    color: black;
}
.produceitem h3{
    text-transform: uppercase;
}
#logout{
    margin-top: 5px;
    margin-bottom: 10px;
    height: 30px;
    width: 150px;
    border-radius: 10px;
    border:0; 
    font-size: 20px;
    font-weight: 600;
    background-color: #FFEB3B;  
    cursor: pointer;
}
/* Small screens (max-width: 768px) */
@media (max-width: 768px) {
    #container {
        width: 100%;
        padding: 0 10px;
    }
    
    .allProduceDiv {
        flex-direction: column;
        align-items: center;
        
    }

    .produceitem {
        width: 30%;
    }

    #body_p {
        font-size: 16px;
    }

    #logout {
        width: 120px;
        font-size: 18px;
    }
    .produceitem h3{
        font-size: 15px;
    }
    body{
        height: auto;
    }
}

/* Medium screens (min-width: 769px) and (max-width: 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    #container {
        width: 90%;
    }

    .allProduceDiv {
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .produceitem {
        width: 45%;
    }

    #body_p {
        font-size: 18px;
    }

    #logout {
        width: 140px;
        font-size: 19px;
    }
}

/* Large screens (min-width: 1025px) */
@media (min-width: 1025px) {
    #container {
        width: 70%;
    }

    /* .allProduceDiv {
        flex-wrap: wrap;
    } */

    .produceitem {
        width: 30%;
    }

    #body_p {
        font-size: 20px;
    }

    #logout {
        width: 150px;
        font-size: 20px;
    }
}